.main{
    width: 60%;
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%);
  }
  .img{
    width: 50% ;
    border-radius: 5%; 
    border: 1px transparent;
    box-shadow: 0 80px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(71, 70, 70, 0.19);
  }
  
  .image{
    display: inline-table;
    position: relative;
    width: 50%;
    transform: translate(10%);
  
  
  }
  h4, h2{
    color: white;
  }
  .main{
    width: 60%;
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%);
  }
  .search {
    width: 100%;
    position: absolute;
    display: flex;
   
  }
  
  .searchTerm {
    width: 80%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  
  }
  
  .searchTerm:focus{
    color:black;
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  .main{
    width: 60%;
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%);
  }
  

  
  @media screen and (max-width: 600px) {

    .image{
      display: block;
      width: 130%;
      
    }
    h2{
      font-size: 16px;
    }
    .img{
  
      box-shadow: 0 0px 0px 0 rgba(46, 46, 46, 0.2), 0 6px 20px 0 rgba(71, 70, 70, 0.19);
    }
  }