<!-- 
<div>
 
  <button (click)="Back()">Back</button>

 <div class="imagee" style="margin-top: 10px;" > 
    <div class="image" style="margin-top: 10%;" *ngIf="!videoExists" > 
         <img src="{{poster_path}}"class="img">    
    </div>
    <iframe  [src]='GetVideo()'  frameborder="0" *ngIf="videoExists" allowfullscreen style="border-radius: 2%;" class="Vid"> </iframe>
    <div >

      <h4 style="margin-left: 10px; font-family: Source Sans Pro, Arial, sans-serif"> {{overview}}</h4>
    </div>
  </div>
  <div>
      
  </div>
</div> -->



<div>
  <div class="split left">
    <button (click)="Back()" class="btn">Back</button>
    <div class="centered" >
      <div  > 
  
        <div class="image"  *ngIf="!videoExists" > 
             <img src="{{show.poster_path}}" style="border-radius: 10%; margin-top: 50%; margin-left: 20px; ">    
        </div>
        <iframe  [src]='GetVideo()' width="750" height="500" frameborder="0" *ngIf="videoExists" allowfullscreen style="border-radius: 1%;" > </iframe>
    
      </div>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered" style="    margin-top: -20%; margin-left: -20px;">
      <div >
        <h3 style="margin-top: 30%;"> Title: {{show.title}}</h3>

        <h3 > Overview: {{show.overview}}</h3>
      </div> 
    </div> 
    
    </div>
  </div>
