
.img{
    width: 50% ;
    border-radius: 5%; 
    border: 1px transparent;
    box-shadow: 0 70px 8px 0 rgba(46, 46, 46, 0.2), 0 6px 20px 0 rgba(71, 70, 70, 0.19);
  }

  
  .image{
    display: inline-table;
    position: relative;
    width: 50%;
    transform: translate(10%);
  
  
  }
  .main{
    width: 60%;
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%);
  }

 body{
  background: #f2f2f2;
  
}

.search {
  width: 100%;
  position: absolute;
  display: flex;

}
body {
  height:100%;
  margin:0;
  padding:0;
background: 
  linear-gradient(45deg,  transparent 0%, transparent 57%, #00B4CC 100%),
  linear-gradient(-45deg, #8f5046 0%,  #685ec5 0.3%, #00B4CC 112%,  transparent 11% ),
  linear-gradient(-90deg, #A14436 100%, #453c5a 65%, transparent 20% )
  ;
}
html {
  height:100%;
}
body > div {
  width:100%;
  height:100%;

}
.searchTerm {
  width: 80%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 15px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;

}

.searchTerm:focus{
  color:black;
}
.searchButton {
  width: 40px;

  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  
}

.main{
  width: 60%;
  position: absolute;
  top: 5%;
  left: 51%;
  transform: translate(-50%);
}

.tab{

  margin-bottom: 1%;
}


.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; 
}
 
.tab button:hover {
  background-color: #ddd;
}

.tab button :focus {
  background-color: yellow;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
button:active{
  background:olive;
}
button:focus{
background:olive;
}